﻿
@{
    ViewBag.Title = "Home";
}

<style>
    .k-footer-template {
        display: none;
    }

    .k-card-header {
        flex: 0 0 auto;
    }

    .k-card-body {
        overflow: hidden;
    }
</style>

<header>
    <div class="hero_image">
        <div class="inner_container">
            <h1>Find your perfect property today</h1>
            <h2>Start your search here</h2>
            <form class="form-inline my-2 my-md-0" id="searchbar">
                <input class="form-control" type="text" placeholder="Search">
                <button type="button" class="btn btn-outline-primary">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</header>