﻿@model Kirkbrae_Property.Models.Enquiry

@{
    ViewBag.Title = "Delete";
    var error = ViewBag.Error;
}

<section class="content-header">
    <h1>
        Delete
    </h1>
</section>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 col-xs-12 no-padding">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to delete @(Model.Name)?</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    <br />
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="box-footer">
                @if (!String.IsNullOrEmpty(error))
                {
                    <input type="submit" value="Delete" class="btn btn-alp spf-link" disabled="disabled" style="cursor: not-allowed;" />
                    <text>@error</text>
                }
                else
                {
                    <input type="submit" value="Delete" class="btn btn-alp spf-link" />
                }
            </div>
        </div>
    </div>
}*@

<div class="clearfix"></div>

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-alp spf-link" })