﻿@model Kirkbrae_Property.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>

<style>
    #login-div {
        position: absolute;
        left: 40%;
        top: 40%;
        border: 1px solid #CCC;
        padding: 10px 10px;
    }
</style>

<body>
    <div id="login-div">
        <h1>Kirkbrae Property</h1>

        @using (Html.BeginForm("Authorize","Login",FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="submit" name="name" value="Login" />
                <input type="reset" name="name" value="Clear" />

                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>*@


                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="label-success">@ViewBag.SuccessMessage</label>
                    </div>
                </div>*@
            </div>
        }
    </div>
</body>
</html>
