﻿@model Kirkbrae_Property.Models.Property

@{
    ViewBag.Title = "Create Enquiry";
}

<section class="content-header">
    <h1>
        Create Property
    </h1>
</section>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 col-xs-12 no-padding">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Create Enquiry
                </h3>
            </div>
            <div class="box-body">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Location)
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Price)
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" value="Submit" class="btn btn-success spf-link" />
            </div>
        </div>
    </div>
}*@

<div class="clearfix"></div>

@*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-alp spf-link" })*@