﻿* {
    box-sizing: border-box;
}

body, html {
    height: 62.5rem;
    margin: 0;
    font-family: 'Lato', 'Arial', sans-serif;
    color: black;
}

h1 {
    text-align: center;
    margin: 2rem 0rem;
}

.k-content {
    background-color: #fcfbf5;
}

.content-header, .table {
    text-align: center;
}

.container {
    width: 40%;
    margin: 0 auto;
}

.hero_image {
    background-image: url(../Images/heroimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 50vh;
}

    .hero_image h1 {
        color: black;
        position: absolute;
        top: 10%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    .hero_image h2 {
        color: black;
        position: absolute;
        top: 40%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

#searchbar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner_container {
    text-align: center;
    padding-top: 15%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    background-color: #CCC;
    width: 33%;
    margin: 0 auto;
}

.hero_image .form-control {
    width: 270px !important;
}