﻿@model Kirkbrae_Property.Models.Enquiry

@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        Edit
    </h1>
</section>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 col-xs-12 no-padding">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Name</h3>
            </div>
            <div class="box-body">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" value="Save" class="btn-alp btn spf-link" />
            </div>
        </div>
    </div>
}*@

<div class="clearfix"></div>

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-alp spf-link" })