﻿@model IEnumerable<Kirkbrae_Property.Models.Enquiry>
@{
    ViewBag.Title = "Your Enquiries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Your Enquiries
    </h1>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-xs btn-success btn-header spf-link" })
    </p>
</section>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th title="Enquiry">Enquiry Message</th>
                <th title="Status">Status</th>
                <th title="Last Updated">Last Updated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enquiry in Model)
            {
                <tr>
                    <td>
                        @enquiry.Message
                    </td>
                    <td>
                        @enquiry.Status
                    </td>
                    <td>
                        @enquiry.LastUpdated
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
